# Default ignored files
/../../data-structures-and-algorithms-journal /.idea/shelf/
/../../data-structures-and-algorithms-journal /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../data-structures-and-algorithms-journal /.idea/httpRequests/
# Datasource local storage ignored files
/../../data-structures-and-algorithms-journal /.idea/dataSources/
/../../data-structures-and-algorithms-journal /.idea/dataSources.local.xml
